# 忽略虚拟环境
**/venv/
**/.roo/
**/.runff_cache/
**/uv.lock
**/__pycache__/
**/pyproject.toml
**/.python-version


# 忽略数据库和环境配置
.env
database.db
sqlite

# 忽略测试文件
test_example.py

# 忽略 IDE 文件夹
.idea

fastmcp
.gitignore

